:root {
  --text-s: 14px;
  --text-m: 16px;
  --text-l: 18px;

  --title-s: 14px; 
  --title-m: 16px; 
  --title-l: 18px; 
  --title-xl: 22px; 
  --title-xxl: 28px; 

  --color-white: #fff;
  --color-primary-100: #F1F1FC;
  --color-primary-200: #E7E6FB;
  --color-primary-300: #D4D1F8;
  --color-primary-400: #B9B4F4;
  --color-primary-500: #948CF0;
  --color-primary-600: #685EEE;
  --color-primary-700: #5044E4;
  --color-primary-800: #3429B1;
  --color-primary-900: #2B2387;

  --color-secondary: #FFCD29;
  --color-dark: #282E3E;

  --color-grey-50: #F7F9FD;
  --color-grey-100: #EBF0FA;
  --color-grey-200: #DCE4F4;
  --color-grey-300: #CBD6EC;
  --color-grey-400: #BECBE4;
  --color-grey-500: #96A6C5;
  --color-grey-600: #667799;
  --color-grey-700: #445473;
  --color-grey-800: #2A3551;
  --color-grey-900: #0B1732;
}
body {
  max-width: 100vw;
  font-size: 14px;
}
.page {
  padding: 10px;
}
ul {
  margin: 0;
}
ul li {
  list-style-type: none;
}
body.uber-frame {
  margin-inline-start: 18px;
  margin-inline-end: 30px;
}

body.uber-frame section {
  max-width: 650px;
}

body.uber-frame section:last-of-type {
  margin-top: 28px;
}

body.uber-frame header {
  left: 0;
  padding-inline-start: 18px;
  right: 0;
}

body.uber-frame header > h1 {
  padding-bottom: 16px;
}

h1 {
  font-size: var(--title-xl);
  font-weight: bold;
}
h2 {
  font-size: var(--title-m);
  font-weight: bold;
}
h3 {
  margin-bottom: 11px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: initial;
}
.script-header {
  margin-top: 12px;
}

section {
  font-size: 12px;
}

.bordered {
  border: 1px solid #DCE4F4;
  border-radius: 12px;
}

.smaller {
  font-size: smaller;
}

.font-settings-div {
  margin-inline-end: 5px;
  width: 180px;
}

.font-settings-div:first-of-type {
  width: 138px;
}

.font-settings-div > :first-child {
  margin-bottom: 10px;
}

.font-settings-div > * {
  margin-bottom: 14px;
}

.font-settings-row {
  display: -webkit-flex;
  width: 800px;
}

.sample-text-div {
  display: -webkit-flex;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.sample-text-span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

#overlay-container {
  z-index: 100;
}

#standardFontSample {
  font-family: standard;
}

#serifFontSample {
  font-family: serif;
}

#sansSerifFontSample {
  font-family: sans-serif;
}

#fixedFontSample {
  font-family: monospace;
}

#minFontSample {
  font-family: standard;
}

select {
  width: 100%;
  max-width: 200px;
}

#footer > button {
  padding-inline-start: 9px;
  padding-inline-end: 9px;
}

#footer > #apply-settings {
  padding-inline-start: 17px;
  padding-inline-end: 17px;
}

#apply-settings:enabled {
  background-color: #4f7dd6;
  background-image: none;
  border-color: #2a4aac;
  box-shadow: none;
  color: #fbfafb;
  text-shadow: none;
}

.slider-legend {
  position: relative;
  /* This offset is needed to get the legend to align with the slider. */
  top: -7px;
}

.slider-container {
  display: inline-block;
  position: relative;
  top: 1px;
  height: 24px;
  width: 88px;
}

#loader-summarize {
  display: none; 
}

